@font-face {
  font-family: "Onest";
  src: url("../fonts/Onest-ExtraBold.woff2") format("woff2"),
    url("../fonts/Onest-ExtraBold.woff") format("woff"),
    url("../fonts/Onest-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Onest";
  src: url("../fonts/Onest-Regular.woff2") format("woff2"),
    url("../fonts/Onest-Regular.woff") format("woff"),
    url("../fonts/Onest-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Onest";
  src: url("../fonts/Onest-Bold.woff2") format("woff2"),
    url("../fonts/Onest-Bold.woff") format("woff"),
    url("../fonts/Onest-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Onest";
  src: url("../fonts/Onest-Light.woff2") format("woff2"),
    url("../fonts/Onest-Light.woff") format("woff"),
    url("../fonts/Onest-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Onest";
  src: url("../fonts/Onest-Thin.woff2") format("woff2"),
    url("../fonts/Onest-Thin.woff") format("woff"),
    url("../fonts/Onest-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Onest";
  src: url("../fonts/Onest-Medium.woff2") format("woff2"),
    url("../fonts/Onest-Medium.woff") format("woff"),
    url("../fonts/Onest-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Onest";
  src: url("../fonts/Onest-Black.woff2") format("woff2"),
    url("../fonts/Onest-Black.woff") format("woff"),
    url("../fonts/Onest-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Evolventa";
  src: url("../fonts/Evolventa-Bold.woff2") format("woff2"),
    url("../fonts/Evolventa-Bold.woff") format("woff"),
    url("../fonts/Evolventa-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Evolventa";
  src: url("../fonts/Evolventa-BoldOblique.woff2") format("woff2"),
    url("../fonts/Evolventa-BoldOblique.woff") format("woff"),
    url("../fonts/Evolventa-BoldOblique.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Evolventa";
  src: url("../fonts/Evolventa-Regular.woff2") format("woff2"),
    url("../fonts/Evolventa-Regular.woff") format("woff"),
    url("../fonts/Evolventa-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Evolventa";
  src: url("../fonts/Evolventa-Oblique.woff2") format("woff2"),
    url("../fonts/Evolventa-Oblique.woff") format("woff"),
    url("../fonts/Evolventa-Oblique.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
